<mat-toolbar color="primary">
  Structuring Angular Apps with Angular Material Components
</mat-toolbar>







<div class="container o-wrapper">
  <div class="row">

    <div class="col-sm-12 col-md-12">
      <!-- Left Card -->
      <mat-card [@cardA]="cardA" class="o-wrapper__cardA">

          <!-- <app-weather [doctors]="doctors" [getCities]="getCities" (selectedCity)='getCityUrl($event)'></app-weather> -->
        <app-doctors [doctors]="doctors"></app-doctors>

        <!-- <div *ngFor="let data of doctors">
          <p>{{ data.profile.first_name }} {{ data.profile.middle_name }} {{ data.profile.last_name }}
            {{ data.profile.title }}</p>
        </div> -->

      </mat-card>
    </div>

  </div>
</div>
