<div class="container o-wrapper">
  <div class="row">

    <div class="col-sm-12 col-md-12">

      <mat-card [@cardA]="cardA" class="o-wrapper__cardA">

        <span>Lat: {{mapService.currentLat}} </span>
        <span>Long: {{mapService.currentLong}}</span>
        <div #gmap style="width:100%;height:300px"></div>
        
        <app-doctors [doctors]="doctors"></app-doctors>

        <!-- <div *ngFor="let data of doctors">
          <p>{{ data.profile.first_name }} {{ data.profile.middle_name }} {{ data.profile.last_name }}
            {{ data.profile.title }}</p>
        </div> -->

      </mat-card>
    </div>

  </div>
</div>